@san-diego: #c0392b;
@anza-borego: #f1c40f;
@imperial-beach: #2980b9;
@julian: #2ecc71;
@palomar-mountain: #2c3e50;
@white: #DDD;

body{
  font-family: 'FuturaTS-Light', sans-serif;
}

.locations-grid {
  position: absolute;
  background: #2ecc71;
  height: 1920px;
  top: 0;
  left: 0;
}

.locations-grid .single-location {
  width: 50%;
  height: 640px;
  float: left;
  color: @white;
  padding: 10px;
}

.locations-grid .san-diego {
  width: 100%;
  background: @san-diego;
}

.anza-borego {
  background: @anza-borego;
}

.imperial-beach {
  background: @imperial-beach;
}

.julian {
  background: @julian;
}

.palomar-mountain {
  background: @palomar-mountain;
}
