@san-diego: #c0392b;
@anza-borego: #C9AD3B;
@imperial-beach: #6B8A7D;
@julian: #757535;
@palomar-mountain: #1D2A2D;
@white: #F6E9C7;

body{
  font-family: 'FuturaTS-Light', sans-serif;
}

.locations-grid {
  position: absolute;
  background: #000;
  height: 1920px;
  top: 0;
  left: 0;
}

.locations-grid .single-location {
  width: 50%;
  height: 640px;
  float: left;
  color: @white;
  padding: 10px;
}

.locations-grid .san-diego {
  width: 100%;
  background: @san-diego;
}

.anza-borego {
  background: @anza-borego;
}

.imperial-beach {
  background: @imperial-beach;
}

.julian {
  background: @julian;
}

.palomar-mountain {
  background: @palomar-mountain;
}

/* Location */
h1 {
  font-family: 'FuturaTS-Medium', sans-serif;
  text-align: center;
}

/* Weather data */
.current-weather {
  float: right;
  margin: 20px;
  width: 50%;
  background: rgba(30, 30, 30, .2);
  text-align: center;
}

.temperature {
  font-size: 90px;
}

.precip-probability {
  font-size: 40px;
}
