<template name="locations">
  <div class="locations-grid">
    {{#each locations}}
      {{> singleLocation}}
    {{/each}}
  </div>
</template>

<template name="singleLocation">
  <div class="single-location {{_id}}">
    Single location
    {{special}}
    {{#each weather}}
      in here
      {{> weather}}
    {{/each}}
    <!--<h1>{{title}}</h1>-->
    <!--{{#each weather}}-->
      <!--In each weather-->
      <!--{{> weather}}-->
    <!--{{/each}}-->
  </div>
</template>

<template name="weather">
  Weather template
  <h3>Weather collection: temp = {{temperature}}</h3>
  <h3>Weather collection: time = {{time}}</h3>
</template>
