<template name="locations">
  <div class="locations">
    {{#each locations}}
      {{> singleLocation}}
    {{/each}}
  </div>
</template>

<template name="singleLocation">
  <div class="marker {{_id}}">
    <div class="marker-svg"></div>
  </div>
  <div class="single-location {{lowerSpacesToDashes habitat}} {{_id}}">
    <div class="border-box">

      <h1>
        {{habitat}}
      </h1>

      <h2>
        {{title}}
      </h2>

      <!-- Current weather block -->
      <div class="current-weather">

        <!-- Icon -->
        <div class="icon">
          <i class="wi {{translateIcon latestWeather.icon}}"></i>
        </div>

        <!-- Temperature -->
        <!-- 3 digit temp for design tests -->
        <!--<div class="temperature">-->
          <!--100<span class="deg">°</span>-->
        <!--</div>-->
        <div class="temperature">
          {{{formatTemperature latestWeather.temperature}}}
        </div>
        <div class="min-temp">Low: {{{formatTemperature latestWeather.temperatureMin}}}</div>
        <div class="max-temp">High: {{{formatTemperature latestWeather.temperatureMax}}}</div>

        <!-- Wind -->
        <div class="wind">
          <!--<div class="wind-svg" data-wind-bearing="0" data-wind-speed="{{latestWeather.windSpeed}}"></div>-->
          <div class="wind-svg" data-wind-bearing="{{latestWeather.windBearing}}" data-wind-speed="{{latestWeather.windSpeed}}"></div>
          <div class="wind-speed">{{formatWindSpeed latestWeather.windSpeed}}</div>
        </div>
        <br>
        <div class="dew-point">
          <div class="dew-svg"></div>
          <div class="dew-value" data-dew-point="{{integer latestWeather.dewPoint}}">
            Dew point
            <!--<br>-->
            <!--{{integer latestWeather.dewPoint}}-->
          </div>
        </div>
        <!--<div class="humidity">-->
          <!--Humidity<br>-->
          <!--{{decimalToPercent latestWeather.humidity}}-->
        <!--</div>-->
        <div class="precip-probability">
          <div class="precip-percent">{{decimalToPercent latestWeather.precipProbability}}</div>
          Chance of rain
        </div>
      </div>

      <!-- Weather data table -->
      <!--<div class="weather-table">-->
        <!--<table class="table table-condensed">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th>Date time</th>-->
              <!--<th>Temperature</th>-->
              <!--<th>Wind speed</th>-->
              <!--<th>Wind bearing</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
            <!--{{#each weathers}}-->
              <!--{{> weather}}-->
            <!--{{/each}}-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->

    </div>
  </div>
</template>

<template name="weather">
  <tr>
    <td>{{formatDateTime time}}</td>
    <td>{{{formatTemperature temperature}}}</td>
    <td>{{{windSpeed}}}</td>
    <td>{{{windBearing}}}</td>
  </tr>
</template>
