<template name="locations">
  <div class="locations-grid">
    {{#each locations}}
      {{> singleLocation}}
    {{/each}}
  </div>
</template>

<template name="singleLocation">
  <div class="single-location {{lowerSpacesToDashes habitat}}">

    <!-- Location title -->
    <h1>{{habitat}} - {{title}}</h1>

    <!-- Current weather block -->
    <div class="current-weather">
      <div class="temperature">
        {{{formatTemperature latestWeather.temperature}}}
      </div>
      <br>
      <div class="precip-probability">
        {{percentMessage latestWeather.precipProbability 'chance of rain' 'No rain today'}}
      </div>
      <div class="wind-svg" data-wind-bearing="{{latestWeather.windBearing}}" data-wind-speed="{{latestWeather.windSpeed}}"></div>
      <div class="wind-speed">{{beaufortScale latestWeather.windSpeed}}</div>
    </div>

    <!-- Weather data table -->
    <div class="weather-table">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Date time</th>
            <th>Temperature</th>
            <th>Wind speed</th>
            <th>Wind bearing</th>
          </tr>
        </thead>
        <tbody>
          {{#each weathers}}
            {{> weather}}
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</template>

<template name="weather">
  <tr>
    <td>{{formatDateTime time}}</td>
    <td>{{{formatTemperature temperature}}}</td>
    <td>{{{windSpeed}}}</td>
    <td>{{{windBearing}}}</td>
  </tr>
</template>
